body {
  background-image: image('../public/background.jpg');

}

.slide{
  width: 100vw;
  height: 100vh;
  
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one{
  background-image: image('../public/background.jpg');
}
.two{
  background-color: rgb(22, 30, 102);
  /* background: url('../public/background.jpg'); */
}
.three{
  background-color: rgb(65, 40, 10);
}
.four{
  background-color: rgb(45, 168, 152);
}

.outer-wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}
/* 
::-webkit-scrollbar {
  display: none;

} */

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}