$primaryBtn : #112c38;


.share {
  background: $primaryBtn;
  height: 100vh;
  h3 {
    color: white;
  }
}
.select {
  background: white;
  margin: 10px;
}
.select-button {
  height: 30px;
  margin: 16px;
  padding-bottom: 30px;

}

label {
  color: white;
}