* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg, #03f46f 0%, #3ab744 50%, #262626 50%, #607d8b 100%);
  -webkit-filter: hue-rotate(120deg);
          filter: hue-rotate(120deg);
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.box {
  position: relative;
  padding: 50px;
  width: 360px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.box::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.box .form {
  position: relative;
  width: 100%;
}

.box .form h2 {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.box .form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.box .form .input-box i {
  position: absolute;
  top: 8px;
  left: 10px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-filter: invert(1);
          filter: invert(1);
}

.box .form .input-box input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  padding: 8px 10px;
  padding-left: 35px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}

.box .form .input-box input[type="submit"] {
  background: white;
  color: black;
  max-width: 100px;
  padding: 8px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.box .form .input-box::-webkit-input-placeholder {
  color: white;
}

.box .form .input-box:-ms-input-placeholder {
  color: white;
}

.box .form .input-box::-ms-input-placeholder {
  color: white;
}

.box .form .input-box::placeholder {
  color: white;
}

.box .form p {
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
}

.box .form a {
  color: white;
}

.box .remember {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}

.register-btn {
  position: fixed;
  padding: 15px 30px;
  right: 0px;
  bottom: 0px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #112c38;
  border-radius: 2px;
}

.register-btn:hover {
  color: #112c38;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
          box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.register-btn span {
  position: absolute;
  display: block;
}

.register-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#fff));
  background: linear-gradient(90deg, transparent, #fff);
}

.register-btn:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.register-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#fff));
  background: linear-gradient(270deg, transparent, #fff);
}

.register-btn:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.register-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background: linear-gradient(180deg, transparent, #fff);
}

.register-btn:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.register-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(360deg, transparent, #fff);
}

.register-btn:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.register-btn-submit {
  position: fixed;
  padding: 15px 30px;
  right: 200px;
  bottom: 0px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #112c38;
  border-radius: 2px;
}

.register-btn-submit:hover {
  color: #112c38;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
          box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
/*# sourceMappingURL=LoginForm.css.map */