body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  padding-left: 5px;

}

ul li:hover {
  transform: scale(1.2);
  color: white;
}

/* .social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.social li:hover
{
  background: yellowgreen;
} */