$primaryBtn : #112c38;


.startDiv {
  height: 100vh;
}

.table-head{
  margin-top: 15px;
  tr {

    th {
      padding-left: 15px;
    }
  }
}
h3 {
  color: black;
}

.toy-container {
  padding-left: 15px;
}