Button:hover {
  border: 1px solid #b69166;
  color: white;
}

.spacer {
  height: 200px;
}
table tr th {
  color: rgb(195, 162, 106);
}
.MuiOutlinedInput-notchedOutline {
  border-color: white;
}
.MuiFormLabel-root {
  color: white;
}

table {
  color: white;
}

.share {
  position: relative;
  top: 100px;
}

