<<<<<<< HEAD
ul {
  margin-bottom: 15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul:hover li a {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .2;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
=======


@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.toggle
{
  position: relative;
  display: flex;
  left: 540px;
  width: 10px;
  height: 10px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 5px;
  background-position: center;
  cursor: pointer;
}
.toggle:hover
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 5px;
  background-position: center;
  cursor: pointer;
}
.toggle:hover .menu {
  display: block;
}

/* .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4; 
  mix-blend-mode: overlay;
} */

.text
{
  position: relative;
  z-index: 10;
}
/* .text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
} */
/* .text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
} */
/* .text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
} */
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  /* padding: 10px 30px; */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  display:none;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.nav .menu ul li a
{
  text-decoration: none;
  font-size: 15px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
  background-color: black;
  
}


@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


.nav {
  /* flex box layout */
  display: inline;
  justify-content: space-between;
  align-items: center;
>>>>>>> 28d44e0030f5037cbc498b7b94cb2ff7d3dfb754

ul li {
  list-style: none;
  margin: 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul li a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  color: white;
}

<<<<<<< HEAD
ul li a:hover::before {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
=======
.navLink {
  display: inline;
  /* color: #f2f2f2;
  background-color:  #459ce4; */
  text-align: center;
  padding: 14px 5px;
  width: 5px;  
  font-size: 10px;
>>>>>>> 28d44e0030f5037cbc498b7b94cb2ff7d3dfb754

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
}

<<<<<<< HEAD
.text-nav {
  position: relative;
  padding-top: 10px;
  margin-bottom: 10vh;
  text-align: right;
  z-index: 10;
  border-bottom: 3px solid #800000;
  background: #112c38;
}
/*# sourceMappingURL=Nav.css.map */
=======
.navLink:hover {
  /* background-color: #2e6c9e; */
}


>>>>>>> 28d44e0030f5037cbc498b7b94cb2ff7d3dfb754
