.nav {
  /* flex box layout */
  display: inline;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 5px;
  background-image: linear-gradient(45deg, orange, yellow);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline;
  color: #f2f2f2;
  background-color: #6b1803;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 12px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #000000;
}
